<connectionStrings>
  <add name="WAEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DHPO46D;initial catalog=WebApp;integrated security=false;User ID=WebUser;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="WebApp" connectionString="Data Source=DESKTOP-DHPO46D;Initial Catalog=WebApp;UID=WebUser;PWD=password" providerName="System.Data.SqlClient"/>
</connectionStrings>
